*{
  padding: 0;
  margin: 0;
}
body{
margin: 0;
height: 100vh;

background-image: url(https://th.bing.com/th/id/R.259a7e3c4f531332bf3ca6b6e6ddece9?rik=58KsNdHolFxtYw&riu=http%3a%2f%2fe-cvsi.org%2fuploads%2fslider%2fslider_13.jpg&ehk=gpszWLd3kLN9tn7%2f5SU5g81sX%2fXtv7Uw72w5%2fqtiwik%3d&risl=&pid=ImgRaw&r=0);
width: 100%;

}

